.header {
  background-color: $color-black;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;

  & h1 {
    @include headerStroke;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;
  background-color: $color-white;
  padding: 2rem;
  border-radius: 10%;

  svg {
    height: 6rem;
    width: 6rem;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    fill: #ff372b;
  }

  25% {
    transform: rotate(90);
    fill: #7d25d9;
  }

  50% {
    transform: rotate(180);
    fill: #35abf0;
  }

  75% {
    transform: rotate(180);
    fill: #25d949;
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: grid;
  align-items: center;
  align-self: center;
  border-style: none;
  background-color: $color-secondary;
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 1rem;
  margin-bottom: 3rem;
  transition: all 0.2s;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 1px 29px 54px -5px rgba(0, 0, 0, 0.63);
    border-style: inherit;
    border: solid $color-black;

    svg {
      animation: rotate 4s infinite linear;
    }
  }
}

.error-container {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 80%;
}

.error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 30%;
  background-color: $color-white;
  border-radius: 10px;
  padding: 1rem;

  @include respond(desktop) {
    height: 100%;
  }

  & svg {
    @include iconSize;
    fill: red;
  }
}
