.navigation {
  @include respond(desktop) {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__list li {
    list-style: none;
  }

  &__list--icon {
    @include iconSize;
  }

  &__tab {
    border-style: none;
    cursor: pointer;

    &:hover {
      border-bottom: 6px ridge #b7bac7;
    }
  }
}

.navigation__tab-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navigation__tab--active {
  border-top: 0.5rem solid $color-secondary;
  background-color: #9e97b5;
  padding: 0.7rem;

  & svg {
    fill: $color-white;
  }

  &:hover {
    border-bottom: none;
  }
}

.navigation__content {
  display: none;

  @include respond(desktop) {
    display: flex;
    flex-direction: column;
  }
}

.navigation__content--active {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}
